@import url('https://indestructibletype.com/fonts/Jost.css');

/* Custom CSS
 * --------------------------------------- */
body{
	font-family: Jost,Roboto,Arial,sans-serif;
	color: #ffffff;
}

.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

h1{
	font-size: 8em;
}

p{
	font-size: 4em;
}


.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}

.section{
	text-align: center;
    overflow: hidden;
}

#menu li {
	display:inline-block;
	margin: 0.0em;
	color: #000;
	font-size: 6em;
}

#menu {
	text-align:center;
	position:fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
    background-color: #ffffff7f;
	padding: 0;
	margin:0;
}

#notifications li {
	margin: 0.0em;
	color: #000;
	font-size: 4em;
    border: 0.05em solid #00aeef;
}

#notifications {
	text-align:center;
	position:fixed;
	bottom: 0;
	left: 0;
	z-index: 50;
	width: 100%;
    background-color: #ffffff7f;
	padding: 0;
	margin:0;
}

